<!DOCTYPE html>
<html>
<head>
  <title>ASICS UserCenter</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <script src="http://www.asics.co.uk/feeds/clean_header_footer.js" type="text/javascript"></script>
</head>
<body>

    <div id="top">
      <div id="top_container" class="clearfix">
        <% if current_user %>
          <ul id="navigation">
            <li><a href="#" ><%= current_user.email %></a></li>
            <li class="vr_top"></li>
            <li><%= link_to("Logout", logout_path) %></li>
          </ul>
        <% else %>
          <ul id="navigation">
            <li><%= link_to "Register", new_user_path %></li>
            <li class="vr_top"></li>
            <li><%= link_to "Login", :login %></li>
            <%#= link_to 'Login with Twitter', auth_at_provider_path(:provider => :twitter) %>
            <%#= link_to 'Login with Facebook', auth_at_provider_path(:provider => :facebook) %>
          </ul>
          <%#= link_to("Login", "#{CASClient::Frameworks::Rails::Filter.config[:login_url]}?service=#{request.url}") %>
        <% end %>
      </div>
    </div>

    <div id="wrapper">
      <header id="header">
        <h1><a href="#" id="logo">ASICS</a></h1>
      </header>
      <section id="main">
        <p id="notice"><%= notice %></p>
        <p id="alert"><%= alert %></p>

        <%= yield %>
      </section>
    </div>

</body>
</html>
